body {
  background-image: url("images/backround.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  font-family: "Sofia", Verdana, sans-serif; 
  font-size: 28px;
  text-align: center;
}